.branco {
  background-image: url("assets/img/jaleco-branco.jpg");
}

.rosa {
  background-image: url("assets/img/jaleco-rosa.jpg");
}

.azul {
  background-image: url("assets/img/jaleco-azul.jpg");
}
